/*#label-name-restaurant h5.address{margin-top:10px;}
#show-menu-restaurant{text-transform:uppercase;}
.bootstrap-datetimepicker-widget{z-index:11111 !important;text-align:center;}
.map-restaurant{position:relative;}
.map-booking{position:absolute;width:100%;padding:4px;}
.map-booking a i{display:block;}
.map-restaurant .map-note{min-height:67px;text-align:center;border:1px solid #e6e6e6;}
.map-restaurant .map-note p{margin:0 !important;color:#000;padding:5px;}
.map-restaurant .map-note p.map-note-online{font-size:14px;font-weight:bold;padding:10px 0px 10px 0px;}
.map-restaurant .map-note p.map-note-center{border-top:1px solid #e6e6e6;padding-top:15px;}
.map-restaurant .map-note p.map-note-promotion{color:#CE1E11;font-weight:bold;padding-bottom:15px;}
.map-restaurant .map-show{position:absolute;z-index:1;width:100%;bottom:0;padding:4px;}
.map-restaurant .map-show button{padding:10px 0px;font-size:14px;font-weight:bold;background-color:#428bca;color:#fff;text-transform:uppercase;}
.map-restaurant .map-show button i{font-size:18px;position:relative;top:1px;}
#restaurant-policy-description-note .restaurant-content-wrapper-description,
#restaurant-policy-description-note .restaurant-content-wrapper-aboutrestaurant,
#restaurant-policy-description-note .restaurant-content-wrapper-note,
#restaurant-policy-description-note .restaurant-content-wrapper-note-standard{border-bottom:1px solid #eee;padding-bottom:10px;}
#restaurant-policy-description-note .restaurant-content-wrapper-aboutrestaurant,
#restaurant-policy-description-note .restaurant-content-wrapper-note,
#restaurant-policy-description-note .restaurant-content-wrapper-note-standard{padding:20px 0px;}
#restaurant-policy-description-note .restaurant-content-wrapper-section-child{padding:5px 5px 10px 0px;margin-left:-3px;}
#restaurant-policy-description-note .restaurant-content-wrapper-section{display:inline-block;width:100%;}
#restaurant-policy-description-note .restaurant-content-wrapper-section i{padding-right:5px;position:relative;top:1px;}
#restaurant-policy-description-note .restaurant-content-wrapper-note{border-bottom:0 !important;}
.ficon-green{color:#00a651 !important;}
.ficon-red{color:red !important;}
#restaurant-policy-description-note .restaurant-content-wrapper-description .restaurant-intro .info-text{text-align:left;}
#restaurant-policy-description-note .restaurant-content-wrapper-description .restaurant-intro .info-img, #restaurant-policy-description-note .restaurant-content-wrapper-description .restaurant-intro .info-sup-img{text-align:center;}
#restaurant-policy-description-note .restaurant-content-wrapper-description .restaurant-intro .info-img img{display:inline-block !important;}
#restaurant-policy-description-note .restaurant-content-wrapper-description .restaurant-intro .info-sup-img span{font-size:12px;font-style:italic;}
.restaurant-reviews-comment .restaurant-reviews{width:160px;height:160px;position:relative;margin:0 auto;}
.restaurant-reviews-comment .restaurant-reviews-info{text-align:center;position:absolute;left:0;right:0;z-index:3;font-size:18px;color:#696969;padding-top:53px;}
.restaurant-reviews-comment .restaurant-reviews-number{display:inline-block;font-size:32px;}
.restaurant-reviews-comment .restaurant-reviews svg{left:0;top:0;width:160px;height:160px;z-index:2;position:absolute;margin:0 auto;display:inline;transform:rotate(-90deg);}
.restaurant-reviews-comment .restaurant-reviews svg.restaurant-reviews-disable{z-index:1;position:absolute;}
.restaurant-reviews-comment .restaurant-reviews svg.restaurant-reviews-disable circle{stroke:#ededed;stroke-dashoffset:0;}
.restaurant-reviews-comment .restaurant-reviews svg circle{stroke-dasharray:435px;stroke-linecap:round;stroke-width:8px;stroke:#FF8000;fill:none;}
.restaurant-reviews-comment .restaurant-reviews-info-tab{border-top:1px solid #ededed;color:#696969;text-align:center;width:140px;margin:10px auto 0;}
.restaurant-reviews-comment .restaurant-reviews-info-tab .text-df{font-size:20px;margin-bottom:8px;}
.restaurant-reviews-comment .restaurant-reviews-info-tab .text-df i{font-size:30px;position:relative;top:3px;}
.review_strip_single{position:relative;padding:0px 0 20px 0;margin:0px 0 25px 0;border-bottom:2px solid #8fc63d;}
.review_strip_single img{border-radius:50% !important;top:-15px;position:absolute;left:0;border:4px solid #fff;}
.review_strip_single .info-user-comment small{display:block;}
.review_strip_single .info-user-comment h4{font-size:16px;display:block;border-bottom:1px solid #8fc63d;padding-bottom:5px;margin-bottom: 10px;text-transform: uppercase;}
.review_strip_single .info-user-comment{display:inline-block;margin-left:90px;}
.review_strip_single .info-user-review {
    border: 1px solid #8FC63D!important;
    display: inline-block;
    float: right;
    height: 30px;
}
.review_strip_single .info-user-review .box-review{display:inline-block;}
.review_strip_single .info-user-review .box-review .rate {
    background-color: #8FC63D!important;
    height: 29px;
    line-height: 29px;
	color: #fff;
    display: block;
    float: left;
    font-size: 14px;
    font-weight: bold;
    width: 40px;
    margin-right: 8px;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;
}
.review_strip_single .info-user-review .box-review .rate-info {
    line-height: 30px;
    font-size: 12px;
    padding-right: 8px;
    color: #3d566e !important;
}
.review_strip_single .content{padding:20px 0px 0px 0px;}
.restaurant-reviews-comment .restaurant-reviews-container .restaurant-reviews-info-tab .reviews-write-comment{display:block;padding:5px;margin-top:5px;color:#fff;font-weight:bold;background:#00adef;border:1px solid #0090c4;border-bottom:3px solid #0090c4;border-radius:3px !important;-webkit-border-radius:3px !important;-moz-border-radius:3px !important;}
#modal-write-comment form label{color:#3d566e;}
#modal-write-comment .label-point{margin-top:5px;}
#modal-write-comment.comment-popup{position:relative;background:#fff;padding:25px;width:auto;max-width:768px;margin:0 auto;}
#modal-menu-restaurant.menu-popup{position:relative;background:#fff;padding:25px;width:auto;max-width:768px;margin:0 auto;}
#modal-menu-restaurant .menu-tite{position:relative;}
#tab-menu-restaurant{border-bottom:1px solid #428bca;}
#tab-content-menu-restaurant p{color:#000;}
#tab-content-menu-restaurant .menu-item{margin-bottom:20px;display:inline-block;}
#menu-food, #menu-drink{height:450px;position:relative;}
.ficon-priority{color:#91bb15;}
.jssora05l,
.jssora05r{display:block;position:absolute;width:40px;height:40px;cursor:pointer;background:url("../images/booking-table/a17.png") no-repeat;overflow:hidden;}
.jssora05l{background-position:-10px -40px;}
.jssora05r{background-position:-70px -40px;}
.jssora05l:hover{background-position:-130px -40px;}
.jssora05r:hover{background-position:-190px -40px;}
.jssora05l.jssora05ldn{background-position:-250px -40px;}
.jssora05r.jssora05rdn{background-position:-310px -40px;}
.jssora05l.jssora05lds{background-position:-10px -40px;opacity:.3;pointer-events:none;}
.jssora05r.jssora05rds{background-position:-70px -40px;opacity:.3;pointer-events:none;}
.jssort01-99-66{background-color:#52C6F0;}
.jssort01-99-66 .p{position:absolute;top:0;left:0;width:99px;height:66px;}
.jssort01-99-66 .t{position:absolute;top:0;left:0;width:100%;height:100%;border:none;}
.jssort01-99-66 .w{position:absolute;top:0px;left:0px;width:100%;height:100%;}
.jssort01-99-66 .c{position:absolute;top:0px;left:0px;width:95px;height:62px;border:#fff 2px solid;box-sizing:content-box;background:url("../images/booking-table/t01.png") -800px -800px no-repeat;_background:none;}
.jssort01-99-66 .pav .c{top:2px;_top:0px;left:2px;_left:0px;width:95px;height:62px;border:#fff 0px solid;_border:#fff 2px solid;background-position:50% 50%;}
.jssort01-99-66 .p:hover .c{top:0px;left:0px;width:97px;height:64px;border:#fff 2px solid;background-position:50% 50%;}
.jssort01-99-66 .p.pdn .c{background-position:50% 50%;width:95px;height:62px;border:#000 2px solid;}
* html .jssort01-99-66 .c,
* html .jssort01-99-66 .pdn .c,
* html .jssort01-99-66 .pav .c{width:99px;height:66px;}
@media (min-width:768px){#navbar-collapse .main-nav{float:right !important;}
}
@media (max-width:991px){.map-img{min-height:120px;}
.map-show,
.map-booking{padding:0px !important;margin-bottom:10px;}
.restaurant-reviews-comment .restaurant-reviews-container{padding-bottom:10px;}
.review_strip_single{margin-top:10px;}
}
@media (max-width:767px){#tab-menu-restaurant li{border-bottom:0 !important;}
#menu-food .menu-item h3, #menu-drink .menu-item h3{margin-top:20px;}
}*/
/*BOOKING LABEL*/
#label-name-restaurant h5.address {
  margin-top: 10px;
}
/*END*/
/*CSS custom*/
#show-menu-restaurant {
	text-transform: uppercase;
}
.bootstrap-datetimepicker-widget {
	z-index: 11111!important;
  text-align: center;  
}
/*END*/
/*ROOM MAP-BOOKING TABLE*/
.map-restaurant {
    position: relative;
}
.map-booking {
    position: absolute;
    width: 100%;
    padding-top: 28px;
}
.map-booking a i {
    display: block;
}

.map-restaurant .map-note {
    min-height: 40px;
    text-align: center;
	border: 1px solid #e6e6e6;
}

.map-restaurant .map-note p {
  margin: 0!important;
  color: #000;
  padding: 5px;
}
.map-img {
    padding-top: 28px;
}
.map-restaurant .map-note p.map-note-online {
  font-size: 14px;
  font-weight: bold;
  padding: 10px 0px 10px 0px;
  background-color: #eab57e;
}

.map-restaurant .map-note p.map-note-center {
  border-top: 1px solid #e6e6e6;
  padding-top: 15px;
}
.map-restaurant .map-note p.map-note-promotion {
  color: #CE1E11;
  font-weight: bold;
  padding-bottom: 15px;
}
.map-restaurant .map-show {
    bottom: 0;
    position: absolute;
    z-index: 3;
    width: 100%;
    margin-bottom: -25px !important;
}
.map-restaurant .map-show button {
    padding: 10px 0px;
    font-size: 14px;
    font-weight: bold;
    background-color: #428bca;
    color: #fff;
    text-transform: uppercase;
}
.map-restaurant .map-show button i {
    font-size: 18px;
    position: relative;
    top: 1px;
}
/*END*/

/*CSS NOTE-DESCRIPTION-ABOUT-restaurant*/
#restaurant-policy-description-note .restaurant-content-wrapper-description,
#restaurant-policy-description-note .restaurant-content-wrapper-aboutrestaurant,
#restaurant-policy-description-note .restaurant-content-wrapper-note,
#restaurant-policy-description-note .restaurant-content-wrapper-note-standard {
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}
#restaurant-policy-description-note .restaurant-content-wrapper-aboutrestaurant,
#restaurant-policy-description-note .restaurant-content-wrapper-note,
#restaurant-policy-description-note .restaurant-content-wrapper-note-standard  {
    padding: 20px 0px;
}
#restaurant-policy-description-note .restaurant-content-wrapper-section-child {
    padding: 5px 5px 10px 0px;
    margin-left: -3px;
}
#restaurant-policy-description-note .restaurant-content-wrapper-section {
    display: inline-block;
    width: 100%;
}
#restaurant-policy-description-note .restaurant-content-wrapper-section i {
    padding-right: 5px;
    position: relative;
    top: 1px
}
#restaurant-policy-description-note .restaurant-content-wrapper-note {
    border-bottom: 0!important;
}
.ficon-green {
	color: #00A651!important;
}
.ficon-red {
	color: red!important;
}
#restaurant-policy-description-note .restaurant-content-wrapper-description .restaurant-intro .info-text {
  text-align: left;
}

#restaurant-policy-description-note .restaurant-content-wrapper-description .restaurant-intro .info-img, #restaurant-policy-description-note .restaurant-content-wrapper-description .restaurant-intro .info-sup-img {
  text-align: center;
}

#restaurant-policy-description-note .restaurant-content-wrapper-description .restaurant-intro .info-img img {
	display: inline-block!important;
}

#restaurant-policy-description-note .restaurant-content-wrapper-description .restaurant-intro .info-sup-img span {
  font-size: 12px;
  font-style: italic;
}
/*END*/
/*Circle reviews*/
.restaurant-reviews-comment .restaurant-reviews {
    width: 160px;
    height: 160px;
    position: relative;
    margin: 0 auto
}
.restaurant-reviews-comment .restaurant-reviews-info {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 3;
    font-size: 18px;
    color: #696969;
    padding-top: 45px;
}
    .restaurant-reviews-comment .restaurant-reviews-info span {
        display: block;
    }
.restaurant-reviews-comment .restaurant-reviews-number {
    font-size: 32px;
    font-weight: bold;
}
.restaurant-reviews-comment .restaurant-reviews svg {
    left: 0;
    top: 0;
    width: 160px;
    height: 160px;
    z-index: 2;
    position: absolute;
    margin: 0 auto;
    display: inline;
    transform: rotate(-90deg)
}
.restaurant-reviews-comment .restaurant-reviews svg.restaurant-reviews-disable {
    z-index: 1;
    position: absolute
}
.restaurant-reviews-comment .restaurant-reviews svg.restaurant-reviews-disable circle {
    stroke: #ededed;
    stroke-dashoffset: 0
}
.restaurant-reviews-comment .restaurant-reviews svg circle {
    stroke-dasharray: 435px;
    stroke-linecap: round;
    stroke-width: 8px;
    /*stroke: #FF8000;*/
    stroke: #ff5454;
    fill: none
}

.restaurant-reviews-comment .restaurant-reviews svg #bar-status.color-yellow{
    stroke: #eae874 !important;
}
.restaurant-reviews-comment .restaurant-reviews svg #bar-status.color-blue{
    stroke: #36a9e1 !important;
}
.restaurant-reviews-comment .restaurant-reviews svg #bar-status.color-green{
    stroke: #8FC63D !important;
}
.restaurant-reviews-comment .restaurant-reviews-info-tab {
    border-top: 1px solid #ededed;
    color: #696969;
    text-align: center;
    width: 140px;
    margin: 10px auto 0;
}
.restaurant-reviews-comment .restaurant-reviews-info-tab .text-df {
    font-size: 20px;
    margin-bottom: 8px;
}
.restaurant-reviews-comment .restaurant-reviews-info-tab .text-df i {
    font-size: 30px;
    position: relative;
    top: 3px;
}
/*END*/
/*COMMENT*/

.review_strip_single {
    position: relative;
    padding: 0px 0 20px 0;
    margin: 0px 0 25px 0;
    border-bottom: 1px solid #ddd;
}
.review_strip_single img {
    border-radius: 50%!important;
    top: -15px;
    position: absolute;
    left: 0;
    border: 4px solid #fff;
}
.review_strip_single .info-user-comment small {
    display: block;
}
.review_strip_single .info-user-comment h4 {
    font-size: 16px;
    display: block;
    border-bottom: 1px solid;
    padding-bottom: 5px;
}
.review_strip_single .info-user-comment {
    display: inline-block;
    margin-left: 90px;
}
.review_strip_single .info-user-review {
    /*border: 1px solid #8FC63D;*/
    display: inline-block;
    float: right;
    height: 30px;
}
.review_strip_single .info-user-review.border-green{
    border: 1px solid #8FC63D !important;
}
.review_strip_single .info-user-review.border-blue{
    border: 1px solid #36a9e1 !important;
}
.review_strip_single .info-user-review.border-yellow{
    border: 1px solid #eae874 !important;
}
.review_strip_single .info-user-review.border-red{
    border: 1px solid #ff5454 !important;
}

.review_strip_single .info-user-review .box-review {
    display: inline-block;
}
.review_strip_single .info-user-review .box-review .rate {
    /*background-color: #8FC63D;*/
    height: 29px;
    line-height: 29px!important;
}
.review_strip_single .info-user-review .box-review .rate-red {
    background-color: #ff5454 !important;
}
.review_strip_single .info-user-review .box-review .rate-yellow {
    background-color: #eae874 !important;
}
.review_strip_single .info-user-review .box-review .rate-blue {
    background-color: #36a9e1 !important;
}
.review_strip_single .info-user-review .box-review .rate-green {
    background-color: #8FC63D !important;
}

.review_strip_single .info-user-review .box-review .rate-info {
    line-height: 30px;
    font-size: 12px;
    padding-right: 8px;
    color: #3d566e!important;
}
.review_strip_single .content {
    padding: 20px 0px 0px 0px;
}
/*end*/

/*link wirte comment*/
.restaurant-reviews-comment .restaurant-reviews-container .restaurant-reviews-info-tab .reviews-write-comment {
    display: block;
    padding: 5px;
    margin-top: 5px;
    color: #fff;
    font-weight: bold;
    background: #ff5722;
    border: 1px solid #965306;
    border-bottom: 3px solid #965306;
    border-radius: 3px!important;
    -webkit-border-radius: 3px!important;
    -moz-border-radius: 3px!important;
}
/*END*/
/*FORM WRITE COMMENT*/
#modal-write-comment form label {
	color: #3d566e;
}

#modal-write-comment .label-point {
	margin-top: 5px;
}
/*END*/
/*POPUP WRITE COMMENT*/
#modal-write-comment.comment-popup {
	position: relative;
    background: #fff;
    padding: 25px;
    width: auto;
    max-width: 768px;
    margin: 0 auto;
}
/*END*/
/*POPUP WRITE COMMENT*/
#modal-menu-restaurant.menu-popup {
	position: relative;
    background: #fff;
    padding: 25px;
    width: auto;
    max-width: 768px;
    margin: 0 auto;
}
#modal-menu-restaurant .menu-tite {
	position: relative;
}
/*#modal-menu-restaurant .menu-tite:before {
	content: '';
    position: absolute;
    top: 10px;
    left: 160px;
    width: 87px;
    height: 2px;
    background: #3d566e;
}
#modal-menu-restaurant .menu-tite:after{
	content: '';
    position: absolute;
    top: 10px;
    width: 87px;
    height: 2px;
    background: #3d566e;
    right: 160px;
}*/
#tab-menu-restaurant {
  border-bottom: 1px solid #428bca;
}
#tab-content-menu-restaurant p {
	color: #000;
}
#tab-content-menu-restaurant .menu-item {
  margin-bottom: 20px;
  display: inline-block
}
#menu-food, #menu-drink {
	height: 450px;
	position: relative;
}
/*END*/
/*SERVICE PRIORITY*/
.ficon-priority {
	color: #91bb15;
}
/*END*/

.jssora05l,
.jssora05r {
    display: block;
    position: absolute;
    width: 40px;
    height: 40px;
    cursor: pointer;
    background: url('../images/booking-table/a17.png') no-repeat;
    overflow: hidden;
}
.jssora05l {
    background-position: -10px -40px;
}
.jssora05r {
    background-position: -70px -40px;
}
.jssora05l:hover {
    background-position: -130px -40px;
}
.jssora05r:hover {
    background-position: -190px -40px;
}
.jssora05l.jssora05ldn {
    background-position: -250px -40px;
}
.jssora05r.jssora05rdn {
    background-position: -310px -40px;
}
.jssora05l.jssora05lds {
    background-position: -10px -40px;
    opacity: .3;
    pointer-events: none;
}
.jssora05r.jssora05rds {
    background-position: -70px -40px;
    opacity: .3;
    pointer-events: none;
}
.jssort01-99-66 {
  background-color: #52C6F0;
}
.jssort01-99-66 .p {
    position: absolute;
    top: 0;
    left: 0;
    width: 99px;
    height: 66px;
}
.jssort01-99-66 .t {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}
.jssort01-99-66 .w {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}
.jssort01-99-66 .c {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 95px;
    height: 62px;
    border: #fff 2px solid;
    box-sizing: content-box;
    background: url('../images/booking-table/t01.png') -800px -800px no-repeat;
    _background: none;
}
.jssort01-99-66 .pav .c {
    top: 2px;
    _top: 0px;
    left: 2px;
    _left: 0px;
    width: 95px;
    height: 62px;
    border: #fff 0px solid;
    _border: #fff 2px solid;
    background-position: 50% 50%;
}
.jssort01-99-66 .p:hover .c {
    top: 0px;
    left: 0px;
    width: 97px;
    height: 64px;
    border: #fff 2px solid;
    background-position: 50% 50%;
}
.jssort01-99-66 .p.pdn .c {
    background-position: 50% 50%;
    width: 95px;
    height: 62px;
    border: #000 2px solid;
}
* html .jssort01-99-66 .c,
* html .jssort01-99-66 .pdn .c,
* html .jssort01-99-66 .pav .c {
    width: 99px;
    height: 66px;
}
.review_strip_single .info-user-review .box-review{display:inline-block;}
.review_strip_single .info-user-review .box-review .rate {
    background-color: #8FC63D;
    height: 29px;
    line-height: 29px;
	color: #fff;
    display: block;
    float: left;
    font-size: 14px;
    font-weight: bold;
    width: 40px;
    margin-right: 8px;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;
}
@media (min-width: 768px) {
    #navbar-collapse .main-nav {
        float: right!important;
    }
}
@media (max-width: 991px) {
    .map-img {
        min-height: 120px;
    }
    .map-show,
    .map-booking {
        padding: 0px!important;
        margin-bottom: 10px;
    }
    .restaurant-reviews-comment .restaurant-reviews-container {
        padding-bottom: 10px;
    }
    .review_strip_single {
        margin-top: 10px;
    }
}
@media (max-width: 767px) {
	#tab-menu-restaurant li {
		border-bottom: 0!important;
	}
	#menu-food .menu-item h3, #menu-drink .menu-item h3 {
		margin-top: 20px;
	}
}